<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <img
              src="./../../../assets/Images/textonly_nobuffer.png"
              alt=""
              style="width: 90%"
            />
          </h6>
          <p>Free of charges for any Domestic Helpers and Job seekers.</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Pages</h6>
          <p>
            <a class="text-reset" routerLink="/Payment-Failed">About Us</a>
          </p>
          <p>
            <a class="text-reset" routerLink="/Payment-Success">Contact Us</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
          <p>
            <a class="text-reset" *ngIf="role != 'Employer'" routerLink="/job">Search & Find Job</a>
          </p>
          <p>
            <a class="text-reset" *ngIf="role != 'Candidate'" routerLink="/candidatepage">Find Helpers, Maids or Drivers</a>
          </p>
          <p>
            <a class="text-reset" routerLink="/pricing">Pricing</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->

          <p>
            We connect Employers, Maid Agencies and Domestic Helpers in Philip
            and Saudi Arabia.
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2024 HelperPlan — All Rights Reserved
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
