img {
  width: 40px;
  height: 35px;
}
.navbar {
  padding: 1%;
}
.nav-item,
.btn,
.navbar-brand {
  font-size: 1.1vw;
}
.navbar-collapse {
  justify-content: space-between;
}
.navbar-collapse .Buttons {
  width: 20%;
  justify-content: space-around;
}
.navbar-collapse .MainLinks {
  width: 37.5%;
  justify-content: space-between;
}
