<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <a class="nav-link" href="#"
      ><img
        src="assets/Images/icononly_transparent_nobuffer.png"
        alt=""
        id="logo"
    /></a>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav MainLinks">
      <li class="nav-item" *ngIf="Role == 'Employer'">
        <a class="nav-link" routerLink="/AddJob">Add Job</a>
      </li>
      <li class="nav-item" *ngIf="Role != 'Employer'">
        <a class="nav-link" routerLink="/job">Find Job</a>
      </li>
      <li class="nav-item" *ngIf="Role != 'Candidate'">
        <a class="nav-link" routerLink="/candidatepage">Candidates</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/agency">Agency Services</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          News & More
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li class="nav-item">
            <a class="dropdown-item" routerLink="/aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="dropdown-item" routerLink="/pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="dropdown-item" routerLink="/candidateResume/candidatePersonalInfo">add resume</a>
          </li>
          <div >

            <li  class="nav-item">
              <a class="dropdown-item" routerLink="/contactus">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="dropdown-item" routerLink="myaccount/profile"
                >My Profile</a
              >
            </li>
            <li class="nav-item">
              <a class="dropdown-item" routerLink="myaccount/changepassword"
                >Change Password</a
              >
            </li>
          </div>
        </ul>
      </li>
    </ul>
    <ul *ngIf="!loginService.IsLogged" class="navbar-nav Buttons">
      <li class="nav-item">
        <a class="btn btn-success" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-warning" style="color: azure" routerLink="/Login"
          >Login</a
        >
      </li>
    </ul>
    <ul *ngIf="loginService.IsLogged" class="navbar-nav Buttons">
      <li class="nav-item">
        <a
          (click)="loginService.LogOutUser()"
          class="btn btn-warning"
          style="color: azure"
          routerLink="/Login"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
