<div class="container my-5">
    <!-- Icon -->
    <div class="text-center mb-4">
        <i class="fas fa-users fa-5x"></i>
    </div>

    <h3>Search And Find</h3>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card text-center px-4 py-4">
                <img src="../../../assets/Images/home/features/f1.webp" class="card-img-top rounded mx-auto d-block"
                    alt="HelperPlace Logo" style="width: 100px; height: 100px;">
                <div class="card-body">
                    <h5 class="card-title">FEATURE</h5>
                    <p class="card-text">Search And Find</p>
                    <p class="card-text">HelperPlace Support</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card text-center px-4 py-4">
                <img src="../../../assets/Images/home/features/f2.webp" class="card-img-top rounded mx-auto d-block"
                    alt="Fast and Secure" style="width: 100px; height: 100px;">
                <div class="card-body">
                    <h5 class="card-title">Fast and secure</h5>
                    <p class="card-text">No Middleman and more choices.</p>
                    <p class="card-text">Transparent, trustworthy, facilitating and ethical platform.</p>
                    <p class="card-text">Control by yourself all the hiring process.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card text-center px-4 py-4">
                <img src="../../../assets/Images/home/features/f3.webp" class="card-img-top rounded mx-auto d-block"
                    alt="HelperPlace Feature" style="width: 100px; height: 100px;">
                <div class="card-body">
                    <h5 class="card-title">For Employers</h5>
                    <p class="card-text">Few thousand of Candidates Available.</p>
                    <p class="card-text">Search, compare, screen, directly message or use our matching analyzer.</p>
                    <p class="card-text">Interview and hire with no stress.</p>
                </div>
            </div>
        </div>
    </div>
</div>