<form>
  <div class="form-group m-2">
    <label for="planName" class="m-2">Plan Name</label>
    <input
      type="text"
      class="form-control m-2"
      id="planName"
      placeholder="Enter Plan Name"
    />
    <small id="planNameError" class="form-text text-muted m-2"
      >Please Enter Name At Least 4 Characters.</small
    >
  </div>
  <div class="form-group m-2">
    <label for="planPrice" class="m-2">Plan Price</label>
    <input
      type="number"
      class="form-control m-2"
      id="planPrice"
      placeholder="Enter Plan Price With Dollar "
    />
    <small id="planNameError" class="form-text text-muted m-2 text-red"
      >Please Enter Valid Plan Price.</small
    >
  </div>
  <div class="form-group m-2">
    <select class="form-select form-select-lg m-2 display-6">
      <option>Week</option>
      <option>1 Month</option>
      <option>2 Month</option>
      <option>3 Month</option>
      <option>6 Month</option>
      <option>Year</option>
    </select>
  </div>

  <button class="btn btn-outline-success m-3">Save Changes</button>
  <button type="submit" class="btn btn-outline-danger m-3">Back</button>
</form>
