<div class="container-fluid login">
  <div class="row">
    <div class="login-container mx-auto">
      <h2>Login</h2>
      <div class="social-icons">
        <button class="facebook-icon">
          <i class="fa-brands fa-facebook"></i>
        </button>
        <button class="google-icon"><i class="fa-brands fa-google"></i></button>
      </div>

      <form [formGroup]="LoginForm" action="login.php" method="POST">
        <input
          formControlName="Email"
          type="email"
          name="email"
          placeholder="Email"
          required
        />
        <div
          *ngIf="
            LoginForm.controls['Email'].invalid &&
            (LoginForm.controls['Email'].dirty ||
              LoginForm.controls['Email'].touched)
          "
        >
          <small *ngIf="LoginForm.controls['Email'].errors!['required']"
            >Email is required.</small
          >
        </div>
        <input
          formControlName="Password"
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <div
          *ngIf="
            LoginForm.controls['Password'].invalid &&
            (LoginForm.controls['Password'].dirty ||
              LoginForm.controls['Password'].touched)
          "
        >
          <small *ngIf="LoginForm.controls['Password'].errors!['required']"
            >Password is required.</small
          >
        </div>
        <div class="links row">
          <div class="col-6">
            <label><input type="checkbox" name="remember" />Remember me</label>
          </div>
          <div class="col-6">
            <a href="forgot_password.html">Forgot Password?</a>
          </div>
        </div>
        <button
          class="btn btn-primary btn-lg"
          [disabled]="LoginForm.invalid"
          type="button"
          (click)="LogUser()"
        >
          Login
        </button>
      </form>
      <a routerLink="/register" id="reg">Newuser?signup here</a>
    </div>
  </div>
</div>
