<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Plans</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button class="btn btn-outline-primary m-1">Add New Plan</button>
    </div>
  </div>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Duration</th>
      <th scope="col">Price</th>
      <th scope="col">Operations</th>
    </tr>
  </thead>
  <tbody>
    @for (plan of plans; track $index) {
    <tr>
      <th scope="row">{{ $index + 1 }}</th>
      <td>{{ plan.Type }}</td>
      <td>{{ plan.Price }} USD</td>
      <td>
        <button class="btn btn-outline-danger mx-1">Delete</button
        ><button class="btn btn-outline-success mx-1">Edit</button>
        <button
          class="btn btn-outline-primary mx-1"
          (click)="goToDetailsPage(plan.ID)"
        >
          Details
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
