<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-6 border-right">
      <div class="p-3 py-5">
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Role</label>
            <input
              type="text"
              class="form-control"
              placeholder="Employer"
              value=""
            />
          </div>
          <div class="col-md-12">
            <label class="labels">Email *</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Your Email"
              value=""
            />
          </div>
          <div class="col-md-12">
            <label class="labels">Location *</label>
            <input
              type="text"
              class="form-control"
              placeholder="Choose your Location"
              value=""
            />
          </div>
        </div>
      </div>
    </div>
    <!-- Second Column (Same as First Column) -->
    <div class="col-md-6 border-right">
      <div class="p-3 py-5">
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Name *</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Your Name"
              value=""
            />
          </div>
          <div class="col-md-12">
            <label class="labels">Mobile Number</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Your Mobile Number"
              value=""
            />
          </div>
          <div class="col-md-12">
            <label class="labels">Language Preference</label>
            <input
              type="text"
              class="form-control"
              placeholder="Choose Your Language Preference"
              value=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 border-Left">
      <div class="p-3 py-1">
        <div class="row mt-3">
          <div class="col-md-12">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="flexSwitchCheckDefault"
              />
              <label class="form-check-label" for="flexSwitchCheckDefault"
                >App Notification</label
              >
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="flexSwitchCheckDefault"
              />
              <label class="form-check-label" for="flexSwitchCheckDefault"
                >Discount Offers and Network</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 border-right">
      <div class="p-3 py-1">
        <div class="row mt-3">
          <div class="col-md-12">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="flexSwitchCheckDefault"
              />
              <label class="form-check-label" for="flexSwitchCheckDefault"
                >Email Applicant Candidate Detail</label
              >
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="flexSwitchCheckDefault"
              />
              <label class="form-check-label" for="flexSwitchCheckDefault"
                >Receive Newsletter</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="p-3 py-5 w-25 m-auto">
      <div class="row mt-3">
        <button class="btn btn-primary profile-button" type="button">
          Save Profile
        </button>
      </div>
    </div>
  </div>
</div>
